---
Language: Cpp
BasedOnStyle: WebKit
BraceWrapping:
    AfterFunction: true
BreakBeforeBraces: Custom
BreakBeforeInheritanceComma: true
BreakConstructorInitializers: BeforeComma
InsertNewlineAtEOF: true
LineEnding: LF
NamespaceIndentation: None
SpaceAfterTemplateKeyword: false
SortIncludes: Never
SpacesInParens: Custom
SpacesInParensOptions:
  InConditionalStatements: false
  InEmptyParentheses: false